<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qioixiy">

    <uses-sdk android:minSdkVersion="19" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".app.nfcStudentManagement.view.luncher.LauncherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.nfcStudentManagement.view.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.nfcStudentManagement.view.manager.ManagerMainActivity"
            android:label="@string/app_activity_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".app.nfcStudentManagement.view.manager.StudentManagementActivity"
            android:label="@string/app_activity_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".app.nfcStudentManagement.view.manager.AddStudentActivity"
            android:label="@string/app_activity_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".app.nfcStudentManagement.view.manager.ManagerNFCActivity"
            android:label="@string/app_activity_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".app.nfcStudentManagement.view.manager.AddNFCActivity"
            android:label="@string/app_activity_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>

        <activity
            android:name=".app.nfcStudentManagement.view.student.StudentMainActivity"
            android:label="@string/app_activity_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".app.nfcStudentManagement.view.student.StudentCheckInActivity"
            android:label="@string/app_activity_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".app.nfcStudentManagement.view.student.StudentCheckOutActivity"
            android:label="@string/app_activity_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".test.activity.NFCTestActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name=".test.activity.TestSwipeLayoutActivity"
            android:label="@string/app_activity_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <activity android:name=".test.mvpdemo.view.MainActivity" />
        <activity android:name=".app.nfcStudentManagement.view.login.LoginUtilActivity" />
        <activity android:name=".test.listview.MainActivity"></activity>
    </application>

</manifest>